@font-face {
  font-family: pop-b;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: pop-bi;
  src: url(./assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: pop-xb;
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: pop-xbi;
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: pop;
  src: url('./assets/fonts/Poppins-Regular.ttf');
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0cc7a
}

.main-card {
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 4rem 1.5rem;
  padding: 2rem 1rem;
  border-radius: 2em;
  border-bottom-right-radius: 8em;
  font-family: pop-b;
}

.first-part {
  font-size: .7rem;
}

.first-part .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.first-part .inputs input {
  width: 4.5rem;
  height: 2.8rem;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding-left: .5em;
  font-weight: 700;

}

.first-part .inputs input::placeholder {
  font-weight: 700;
}

.first-part .inputs div {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: grey;
  font-size: .4rem;
}

.warn-msgs {
  font-size: .5em;
  margin-bottom: 3rem;
  font-family: pop;
  display: flex;
  justify-content: space-between;
}

.warn-msgs div{
  width: 5rem;
  
  }

.warn-msgs span {
  margin: 0 1em;
  color: hsl(0 100% 67%);
  font-weight: 400;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background-color: blueviolet;
  position: relative;
  bottom: 2.2rem;
  left: 8.5rem;
}

button:hover {
  warns.innerHTML="Fields should not be empty";
}

button img {
  width: 1.5em;
}

.second-part {
  display: flex;
  flex-direction: column;
  font-size: 2.6rem;
  font-family: pop-xbi;
}

.second-part label span {
  color: blueviolet;
  margin: 1rem 1rem;
  transition: all 1s;
}


@media only screen and (min-width: 420px) and (max-width: 1440px) {}