@font-face {
  font-family: pop-b;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: pop-bi;
  src: url(./assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: pop-xb;
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: pop-xbi;
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: pop;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}


.main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(243, 237, 237);
  /* border: 2px solid red;  */
}

.card {
  height: 55vh;
  width: 78vw;
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 90px;
  margin: 11vh 4.5vw;
  font-family: pop-b;
  position: absolute;
  padding: 4vh 5vw;
}

.first-part {
  font-size: 1rem;
  /* border: 2px solid red; */
}

.first-part label {
  font-size: 0.8rem;
  font-family: pop-b;
  letter-spacing: 2.5px;
}

.first-part .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78vw;
  height: 100%;
  /* border: 2px solid red; */
  /* margin-left: .7vw; */
  /* padding: 0 1vw; */
}

.first-part .inputs input {
  width: 4.5rem;
  height: 2rem;
  border: 2px solid rgb(205, 204, 204);
  border-radius: 8px;
  padding: 1vh;
  padding-bottom: 1.5vh;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5vh;
  transition: all ease 0.5s;
}

.first-part .inputs input:hover {
  border-color: hsl(259, 100%, 65%);
  curser: pointer;
}

.first-part .inputs input::placeholder {
  font-weight: 700;
  font-size: 1rem;
}

.first-part .inputs div {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: grey;
  font-size: 0.6rem;
  margin-bottom: .8vh;
  /* border: 2px solid red; */
}

.warn-msgs {
  font-size: .8vh;
  width: 78vw;
  /* margin-left: .2vw; */
  margin-bottom: 4rem;
  font-family: pop;
  display: flex;
  justify-content: space-between;
}

.warn-msgs div {
  width: 22vw;
  /* border: 2px solid red; */
}

.warn-msgs span {
  /* margin: 0 1em; */
  color: hsl(0 100% 67%);
  font-weight: 400;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  position: relative;
  bottom: 6vh;
  left: 32vw;
  transition: all ease 0.5s;
}

button:hover {
  background-color: hsl(0, 0%, 0%);
  cursor: pointer;
}

button img {
  width: 2.5em;
}

.second-part {
  display: flex;
  flex-direction: column;
  font-size: 12vw;
  font-family: pop-xbi;
  margin-top: -2.5vh;
  margin-left: -1vw;
  /* text-align: left; */
  line-height: 9vh;
  /* border: 2px solid red; */
}

.second-part label span {
  color: hsl(259, 100%, 65%);
  margin: 1rem 1rem;
  transition: all ease 1s;
}

.second-part label .animate {
  color: hsl(259, 100%, 65%);
  margin: 1rem 1rem;
  transition: all ease 1s;
  animation: opacityAnimation 2s;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1025px) {
  body{
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .card {
    height: 70vh;
    width: 40vw;
    padding: 4vh 4vw;
    margin: 11vh 20vw;
  }

  .first-part .inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 100%;
    /* border: 2px solid red; */
    /* margin-left: .7vw; */
    /* padding: 0 1vw; */
  }

  .first-part .inputs input {
    width: 7vw;
    height: 4.5vh;
    border: 2px solid rgb(205, 204, 204);
    border-radius: 8px;
    padding: 1vh;
    padding-bottom: 1.5vh;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 0.5vh;
    transition: all ease 0.5s;
  }

  .warn-msgs {
    font-size: 1.2vh;
    width: 30vw;
    /* margin-left: .2vw; */
    margin-bottom: 4rem;
    font-family: pop;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .warn-msgs div {
    width: 7.5vw;
    /* border: 2px solid red; */
  }



  button {
    padding: 1rem;
    border: none;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    position: relative;
    bottom: 6vh;
    left: 36vw;
    transition: all ease 0.5s;
  }

  .second-part {
    display: flex;
    flex-direction: column;
    font-size: 6vw;
    font-family: pop-xbi;
    margin-top: -2.5vh;
    margin-left: -1vw;
    /* text-align: left; */
    line-height: 13vh;
    /* border: 2px solid red; */
  }
}